<div class="h-full bg-gray-50 flex">
	<section class="w-full bg-cover bg-center py-32" style="background-image: url('https://source.unsplash.com/random');">
		<div class="container mx-auto text-center text-white">
			<h1 class="text-5xl font-medium mb-6">Welcome to My Agency</h1>
			<p class="text-xl mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
                        gravida pellentesque urna varius vitae.</p>
                        <% if user_signed_in? %>
                          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"bg-indigo-500 text-white py-4 px-12 rounded-full hover:bg-indigo-600"%>
                        <% else %>
                          <%= link_to "Sign Up", new_user_registration_path, class:"bg-indigo-500 text-white py-4 px-12 rounded-full hover:bg-indigo-600"%>
                        <% end %>
		</div>
	</section>
</div>
